@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body,
html {
    font-family: 'Montserrat';
}

body {
    background-color: var(--gray);
}

.container-comentario {
    width: 100%;
    margin-bottom: 3vh;
    /* margin-left: 5%;
    margin-right: 5%; */
}
.background-comentario {
    padding: 3vh;
    width: 89vw;
    height: auto;
    background-color: #353333;
}
.comentario-content {
    display: grid;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.lado-esquerdo {
    width: 15%;
    margin: auto;
    margin-left: 5%;
}
.lado-direito span {
    color: #52BCBF;
    font-weight: bold;
}

.lado-direito p {
    color: #ffffff;
}
