@import url(./bootstrap.css);
@import url(./config.css);
@import url(./global.css);
@import url(./custom.css);
@import url(./responsive.css);

body {
  margin: 0;
  font-family: 'Montserrat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
